{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type</th>
                <th>Time of Trade</th>
            </tr>
        </thead>
        <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row['symbol'] }}</td>
                        <td>{{ row['company_name'] }}</td>
                        <td>{{ row['number'] }}</td>
                        <td>{{ row['price'] }}</td>
                        <td>{{ row['type'] }}</td>
                        <td>{{ row['date'] }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
